<!-- Header -->
<header id="header" style="background: {{ page.main-color }};">
	<div class="inner">
		<img class="logo" src="{{ page.logo | relative_url }}" max-width="100%" max-height="100%" />
		<nav id="nav">
			<a href="{{ page.folder | append: '/landing-page.html' | relative_url }}">Home</a>
            <a href="#">Products</a>
            <a href="#">About</a>
			<a href="https://consentricutilitydemo.force.com/myaccount/s/login/">My Account</a>
		</nav>
	</div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
