<!-- Three -->
<section id="three">
	<div class="inner">
		<article>
			<div class="content">
				<span class="icon fa-align-justify"></span>
				<header>
					<h3>{{ page.section-three-col1-heading }}</h3>
				</header>
				<p>{{ page.section-three-col1-text }}</p>
				<ul class="actions">
					<li><a href="#" class="button alt">{{ page.section-three-col1-button }}</a></li>
				</ul>
			</div>
		</article>
		<article>
			<div class="content">
				<span class="icon fa-calculator"></span>
				<header>
					<h3>{{ page.section-three-col2-heading }}</h3>
				</header>
				<p>{{ page.section-three-col2-text }}</p>
				<ul class="actions">
					<li><a href="#" class="button alt">{{ page.section-three-col2-button }}</a></li>
				</ul>
			</div>
		</article>
		<article>
			<div class="content">
				<span class="icon fa-fire"></span>
				<header>
					<h3>{{ page.section-three-col3-heading }}</h3>
				</header>
				<p>{{ page.section-three-col3-text }}</p>
				<ul class="actions">
					<li><a href="#" class="button alt">{{ page.section-three-col3-button }}</a></li>
				</ul>
			</div>
		</article>
	</div>
</section>
