<!-- Two -->
<section id="two">
	<div class="inner">
		<article>
			<div class="content">
				<header>
					<h3>{{ page.section-two-col1-heading }}</h3>
				</header>
				<div class="image fit">
					<img src="{{ page.section-two-col1-image | relative_url }}" alt="" />
				</div>
				<p>{{ page.section-two-col1-text }}</p>
			</div>
		</article>
		<article class="alt">
			<div class="content">
				<header>
					<h3>{{ page.section-two-col2-heading }}</h3>
				</header>
				<div class="image fit">
					<img src="{{ page.section-two-col2-image | relative_url }}" alt="" />
				</div>
				<p>{{ page.section-two-col2-text }}</p>
			</div>
		</article>
	</div>
</section>
